* {
  box-sizing: border-box;
}

.img-display-bg {
  background-color: #b2b2b2;
  position: absolute;
  height: 700px;
  width: 700px;
  left: 71px;
  top: 200px;
}

.version-navigation {
  background-color: #000000;
  position: absolute;
  height: 70px;
  width: 700px;
  left: 71px;
  top: 900px;
}

.version-btn {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  height: 68px;
  width: 340px;
  cursor: pointer;
}

.next-pages-btn {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 560px;
  left: 698px; 
  cursor: pointer;
}

.prev-pages-btn {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 560px;
  left: 110px; 
  cursor: pointer;
}

.img-container {
  position: absolute;
  height: 615px;
  width: 475px;
  top: 255px;
  left: 180px;
}

.img-container img{
  object-fit: cover;
  position: absolute;
  height: 615px;
  width: 475px;
}

.file-selection {
  display: grid;
  position: absolute;
  height: 1504px;
  width: 825px;
  left: 830px;
  top: 200px;
  grid-template-columns: repeat(2, 1fr); 
}

.file-selection button{
  width: 394px;
  height: 475px;
  object-fit: cover;
}